* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ee6c4d;

    display: flex;  
    justify-content: space-between;
}

.logo {
    color: #98c1d9;

    padding: 14px 16px;
}

body {
    background-color: #98c1d9;
}

ul {
    list-style-type: none;

    margin: 0;
    padding: 0;
}
  
li {
    float: right;

    font-size: 24px;
  }
  
li a {
    display: block;

    color: #98c1d9;
    text-align: center;
    text-decoration: none;

    padding: 14px 16px;
}

li a:hover {
    background-color: #98c1d9;

    color: #ee6c4d;
}

.form-container {
    display: block;
    justify-content: center;

    line-height: 40px;
    padding: 120px;
}

.form {
    background-color: #ee6c4d;

    padding: 20px;
}

.form h2 {
    text-align: center;
}