* {
    margin: 0;
    padding: 0;
}

header {
    background-color: white;

    display: flex;  
    justify-content: space-between;
}

.logo {
    color: teal;

    padding: 14px 16px;
}

body {
    background-color: #98c1d9;
}

ul {
    list-style-type: none;

    margin: 0;
    padding: 0;
}
  
li {
    float: right;

    font-size: 24px;
  }
  
li a {
    display: block;

    color: rgb(12, 95, 95);
    text-align: center;
    text-decoration: none;

    padding: 14px 16px;
}

li a:hover {
    background-color: #98c1d9;

    color: white;
}