@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: white;

    display: flex;  
    justify-content: space-between;
    font-family: 'Gemunu Libre', sans-serif;
}

.logo {
    color: teal;

    padding: 14px 16px;
    font-family: 'Gemunu Libre', sans-serif;
}

body {
    background-color: #98c1d9;
}

ul {
    list-style-type: none;

    margin: 0;
    padding: 0;
}
  
li {
    float: right;


    font-size: 24px;
  }
  
li a {
    display: block;

    color: teal;
    text-align: center;
    text-decoration: none;

    padding: 14px 16px;
}

li a:hover {
    background-color: #98c1d9;

    color: white;
}

.page-name {
    color: white;

    text-align: center;

    margin: 20px;
    font-family: 'Gemunu Libre', sans-serif;
}

.profile {
    display: flex;

    background-color: white;

    margin-right: 25%;
    margin-left: 25%;

    padding: 20px;

    border-radius: 20px;
}

.profile img {
    padding: 20px;

    border-radius: 100px;
}

.contents {
    color: white;

    text-align: center;

    padding: 120px;
}